@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #000080;
}

.window {
  border: 2px solid #c0c0c0;
  background-color: #c0c0c0;
  padding: 20px;
  width: 600px;
}

.sidebar-window {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.content {
  color: black;
}

.player-button {
  color: #a8a8a8;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: small;
}

.container {
  display: flex;
  justify-content: center;

  min-height: calc(100vh - 60px); /* Adjust for navbar height */
  width: 100%;
}
